<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
</head>
<body>

<div>
  <form method="post" action="/">
    <h1><label for="month">Mês: </label><br></h1>
    <input type="text" id="month" name="month" value=""><br>
    <input type="submit" value="Buscar" name="Buscar" />
  </form>
</div>

{% if mostrar %}
  <div>
    <h2>Total gasto no mês: </h2>
    {{ total }}
    <h2>maior despesa: </h2>
    {{ maxima }}
    <h2>menor despesa: </h2>
    {{ minima }}
  </div>

  <div>
    <h2>Maiores gastos por portador: </h2>
    <div>
      {{ df_portador|safe }}
    </div>
    <h2>Maiores gastos por gestora: </h2>
    <div>
      {{ df_gestora|safe }}
    </div>
  </div>
{% endif %}

</body>
</html>
